# keep everything hoisted…
public-hoist-pattern[]=*

# …except any .prisma folders (so any nested node_modules/.prisma stay put)
public-hoist-pattern[]!=**/.prisma/**

# and never hoist the @prisma packages themselves
never-hoist[]=@prisma/client
never-hoist[]=@prisma/engines
